:root {
  /* Color variables */
  --main-color: #002855;
  --highlight-color: #E8E594;
  --dark-color: #000000;
  --light-color: #ffffff;
  --text-color: #e3d44c;
  --cardboard-background-color: #F0F0F0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background: linear-gradient(to bottom, #b2b2b2, #d3d3d3);
}

.table {
  width: 100%;
}

.th, .td {
  font-size: 1rem;
  border: var(--dark-color) solid 1px;
  color: var(--main-color);
  background-color: var(--highlight-color);
  text-align: center;
  width: 30%;
}

#controls {
  display: flex;
  color: var(--light-color);
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 40px;
}

#start-button {
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  color: var(--light-color);
  background-color: var(--highlight-color);
  color: var(--main-color);
  width: 50%;
  height: 70%;
  box-shadow: 0 0 5px var(--dark-color);
  border-radius: 1rem;
}

.container {
  height: 100%;
  width: 100%;
}

#card-board {
  perspective: 1000px;
  overflow: hidden;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: auto;
  align-self: center;
  background: var(--cardboard-background-color);
  box-shadow: 0 0 5px var(--dark-color);
  height: 100%;
  width: 100%;
  background: var(--highlight-color);
  border: 1px solid var(--light-color);
}

.card-container {
  perspective: 1000px;
  border: 1px solid var(--light-color);
}

.card {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background-color: var(--main-color);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  transform: rotateY(180deg);
  color: var(--text-color);
}

.card-back {
  background-image: url('../svg/card-back.svg');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.card-back:hover {
  transform: scale(1.1);
  transition: 0.25s; 
}

@media screen and (min-width: 568px) {
  #card-board {
    grid-template-columns: repeat(5, 1fr);
  }
  #start-button {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .table {
    padding: 0 1rem;
  }

  .th, .td {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #002855;
    color: #e3d44c;
  }

  #card-board {
    grid-gap: 1rem;
    padding: 1rem;
    background: #F0F0F0;
    box-shadow: 0 0 5px #000000;
    height: 80%;
    width: 70%;
    background: #E8E594;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #controls {
    min-height: 4rem;
  }

  #start-button {
    font-size: 2rem;
    width: 30%;
  }
}